.signup {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: pink;
}

.form-details {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.signup h1{
  color: brown;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-msg {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.submit-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-btn:active {
  background-color: #007bff;
}



/* form {
    max-width:400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: pink;
  }
h1{
    color: brown;
    text-align: center;
}

  
div {
    margin-bottom: 15px;
  }
  
label {
    display: block;
    margin-bottom: 5px;
  }
  
input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
  }
 
button:active {
    background-color: #007bff;
    text-align: center;
  }  */



 
 