.header{
    background-color: #ffffff;
    text-align: left;
    padding: 20px;
   justify-content:space-between;
   align-items: center;
   box-shadow: 0 2px ; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 img {
        width: 115px;
        height: auto  
}
p{
    color: darkgray;
}



 /* .navbar{
     display: flex;
     justify-content: space-around;
     padding: 16px;
     box-shadow: 0 1px 3px -2px gray;
 } */

 /* .nav-cart-count{
    color: aqua;
} */

 .nav-menu{
    display: flex;
    color: #626262;
    align-items: center;
    gap:50px;
    list-style: none;

 }

.nav-menu li{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:3px;
        cursor :pointer;
 }
 .nav-menu hr{
    background: red;
    border-radius: 10px;
    border:none;
    height: 3px;
    width:80%;
 }

 /* .navigation ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
} */

/* .navigation ul li{
      margin-right: 20px;
}

.navigation ul li:last-child{
    margin-right: 0;
}

.navigation ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.navigation ul li a:hover {
    color: rgb(153, 102, 51);
}   */
     

    