.contact-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color:brown;
    
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;

  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    height: 30;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  button:active {
    background-color:blue
  } 
  