.footer{
    background-color: #ffffff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-navigation ul{
    list-style-type: none;
    padding: 0;
    margin:0;
}

.footer-navigation ul li {
  display: inline;
  margin-right: 20px;
}

.footer-navigation ul li  :last-child{
    margin-right: 0;
}

.footer-navigation ul li a {
    text-decoration: none;
    color:#ffffff;
}

.footer-navigation ul li a :hover {
    text-decoration: underline;
}