 .header{
   background-color:pink;
   padding: 10px;
   display: flex;
   justify-content: space-between; 
   align-items: center; 
    display: flex;
    padding: 5px;
   box-shadow: 0 1px 3px -2px black; 
} 

 .header-logo{
    display: flex;
    gap:25px;
    align-items: center;
} 

img{
    width: 100px;
    height: auto;
   
}

p{
    color: darkcyan;
     font-size: 50px;
     font-weight: 600;  
     gap:250px;
}

.icon{
   color: brown;
   font-size: 22px;
   display: flex;

}

 .nav-menu{
    display: flex;
    color: #626262;
    align-items: center;
    gap:50px;
    list-style: none;
 } 

.nav-menu li{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:3px;
        cursor :pointer;
 }
 .nav-menu hr{
    background: red;
    border-radius: 10px;
    border:none;
    height: 3px;
    width:80px;
 } 
 
 .nav-login-cart{
   gap: 45px;
   display: flex;
   align-items: center;
 } 


     

    