 .header{
    display: flex;
    padding: 16px;
   justify-content:space-around;
   box-shadow: 0 1px 3px -2px black;
} 

 .header-logo{
    display: flex;
    gap:25px;
    align-items: center;
} 

img{
    width: 100px;
    height: auto;
   
}

p{
    color: darkcyan;
     font-size: 50px;
     font-weight: 600;  
     gap:250px;
}

.icon{
   color: brown;
   font-size: 22px;
   display: flex;

}

 .nav-menu{
    display: flex;
    color: #626262;
    align-items: center;
    gap:50px;
    list-style: none;
 } 

.nav-menu li{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:3px;
        cursor :pointer;
 }
 .nav-menu hr{
    background: red;
    border-radius: 10px;
    border:none;
    height: 3px;
    width:80px;
 } 

 .nav-login-cart{
   gap: 45px;
   display: flex;
   align-items: center;
 }
 .nav-login-cart button{
   outline: none;
   border: 1px solid #7a7a7a;
   border-radius: 75px;
   font-size: 15px;
   font-weight:10;
   background: white;
   cursor: pointer;
   width:110px;
    height:30px;
   
} 

 .nav-login-cart button:active{
   background:gray;
} 

     

    